<% layout('../shell') -%>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Hello world!</h1>
            </div>
        </div>
    </div>
</div>